.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPanel {
    max-width: 443px;
    width: 90%; /* Змінив ширину на відсоток для адаптивності */
    height: 100vh;
    background: #44576D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; /* Додав позицію для registerText */
}

.input1,
.input2 {
    width: 90%; /* Змінив ширину на відсоток для адаптивності */
    max-width: 340px;
    height: 55px;
    background: linear-gradient(0deg, #BBCBEE 0%, #BBCBEE 100%), linear-gradient(0deg, #C1E8FF 0%, #C1E8FF 100%), #41877E;
    margin: 10px;
}

.registerText {
    flex-shrink: 0;
    color: #FFF;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    bottom: 10px;
}

.MainPanel {
    width: 100%; /* Змінив ширину на відсоток для адаптивності */
    height: 100vh;
    background: #1E3F52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Додана властивість */

}

.login-button {
    width: 204px;
    height: 53px;
    flex-shrink: 0;
    color: #D2D2D2;
    margin-left: 0px;
    font-family: Outfit;
    font-size: 32px;
    margin-top: 10px; /* Змінив маржу для відступу від текстових полів */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 68px;
    background: #162F3E;
}

.mainPanelText {
    max-width: 585px;
    width: 90%; /* Змінив ширину на відсоток для адаптивності */
    height: auto; /* Змінив на автоматичну висоту */
    margin-top: 20px; /* Змінив маржу для відступу від кнопки */
    color: #F7F9FF;
    text-align: center;
    text-shadow: 4px 4px 15px #090F23;
    font-family: Kanit;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainImage {
    width: 90%; /* Змінив ширину на відсоток для адаптивності */
    max-width: 100%; /* або встановіть конкретний розмір */
    height: auto; /* збереження співвідношення сторін */
    display: block; /* для коректного відображення */
    height: auto;
    margin-left: 30%;
    position: relative;
    margin-top: 20px; /* Змінив маржу для відступу від тексту */
    margin-bottom: 0px; /* Змінив маржу для відступу від краю блоку */
}
