.loginPage {
    display: flex;

}

.loginPanel {
    width: 443px;
    height: 1024px;

    background: #44576D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.input1,
.input2 {
    width: 340px;
    height: 55px;
    background: linear-gradient(0deg, #BBCBEE 0%, #BBCBEE 100%), linear-gradient(0deg, #C1E8FF 0%, #C1E8FF 100%), #41877E;
    margin: 10px;
}

.registerText {


    flex-shrink: 0;
    color: #FFF;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute; /* Встановіть position: absolute для тексту реєстрації */
    bottom: -100px; /* Встановіть відстань внизу в 40 пікселів */
}


.MainPanel {
    width: 1470px;
    height: 1024px;
    flex-shrink: 0;
    background: #1E3F52;
    display: flex;
    flex-direction: column; /* Змінено на вертикальну орієнтацію */
    align-items: center;
    justify-content: center;
}


.button {width: 204px;
    height: 53px;
    flex-shrink: 0;
    color: #D2D2D2;
    font-family: Outfit;
    font-size: 32px;
    margin-left: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 68px;
    background: #162F3E;
}
    .mainPanelText
    {
        width: 585px;
        height: 139px;
        flex-shrink: 0;
        color: #F7F9FF;
        text-align: center;
        text-shadow: 4px 4px 15px #090F23;
        font-family: Kanit;
        font-size: 62px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
.mainImage {
    width: 55%;
    height: auto;
    position: relative;
}

