/* Chat.css */
.chat-page{
background-color: #162F3E;
    height: 100vh;
    display: flex;




}

.chat-image{
  margin-left:  -900px;
    margin-top: -290px;
    scale: 45%;

}

.chat {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.leave-room {
    margin-bottom: 10px;
    width: 110px;

    border-radius: 40px;
    color: #070a0a;

}

.message-container {
    margin-left: 10px;

    height: 800px;
    width: 60%;
    background-color: #ffffff;
    overflow: auto;
    border-radius: 5px;
    margin-bottom: 2px;

}

.user-message {
    display: flex;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.user-message .message {
    padding: 8px;
    border-radius: 15px;
    color: black;
    background-color: #eaeaea;
    margin-bottom: 5px;
}

.user-message.from-right .message {
    background-color: #d0e8f2;
    align-self: flex-end;
}

.user-message.from-left .message {
    background-color: #e6f2d6;
    align-self: flex-start;
}


.from-user {
    font-size: 0.8em;

    color: #999;
}
.form-send{
    margin-left: 50px;
    height: 60px;
    width: 585px;
}
.input-group {
margin-left: 20px;
    width: auto;
    margin-bottom: 10px;
}
.send-message-form{
    margin-left: 10px;
    width: 585px;

}

.form-control {
    border-radius: 5px;
     height: 15px;
    width: 90%;
    word-wrap: break-word;
}

.btn-primary {

    border-radius: 5px;
    height: 30px;
    width: 30%;
    background-color: #6b6969;

}


.message-container {
    scrollbar-width: thin;

    scrollbar-color: #ffffff #f5f5f5;
}

/* For Chrome, Edge, and Safari */
.message-container::-webkit-scrollbar {
    width: 8px;
}

.message-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.message-container::-webkit-scrollbar-track {

    background-color: #f5f5f5;
}
