.single-psychologist-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    align-self: center;
    margin: 20px auto;
}

.psychologist-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.psychologist-details {
    flex: 1;
    text-align: left;
    padding-left: 20px;
}

.psychologist-photo {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.psychologist-buttons {
    display: flex;
    gap: 10px;
    width: 250px;
    margin-top: 10px;
}
.main-container {
    background-image: url('/public/psyhologistPage 1.svg');
    background-size: cover;
    height: 1000px;
}

.psychologist-description {
    text-align: justify;
}
