


    .container {
        display: flex;
        height: 100vh;
    }

    .header {
        width: auto;
        right: 400px ;
        height: 150px;
        flex-shrink: 0;
        background: #DFEBF6;
    }

.sidebar-img
{
    width: 50px;
    height: 50px;
}
    .content {
        display: flex;
        flex-direction: column;
    }
    .container.sidebar-open {
        margin-left: 356px; /* Adjust the width based on your sidebar's width */
        transition: margin-left 0.3s ease;

    }

    .toggle-sidebar {
        cursor: pointer;
    }
    .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
.form-text
{
    padding: 50px 30px 10px 70px;
    color: #d3e0fa;
    font-family: Roboto Mono;
    font-size: 24px;
    height: auto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .column {
        flex: 1;
    }


    .mainImage2 {

        flex-shrink: 0;

    }
    .toggle-sidebar-button {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 999;
        background-color: #44576d;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

    .toggle-sidebar-button:hover {
        background-color: #34445c;
    }

    .mainPageForm {
        max-width: 100%;
        margin: 10px;
         margin-left: 30px;
        height: 356px;
        border-radius: 102px;
        background: #44576D;
    }



    .footer {
        width: auto;
        height: 229px;
        flex-shrink: 0;
        background:  #C7D3DE;;
    }
