


    .container {
        display: flex;
        height: 100vh;
    }

    .header {
        width: 1564px;
        right: 400px ;
        height: 362px;
        flex-shrink: 0;
        background: #DFEBF6;
    }

.sidebar-img
{
    width: 50px;
    height: 50px;
}
    .content {
        display: flex;
        flex-direction: column;
    }
    .container.sidebar-open {
        margin-left: 356px; /* Adjust the width based on your sidebar's width */
        transition: margin-left 0.3s ease;
    }

    .toggle-sidebar {
        cursor: pointer;
    }
    .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
.form-text
{
    padding: 30px 30px 30px 100px;
    color: #263238;
    font-family: Cabin;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .column {
        flex: 1;
    }


    .mainImage2 {

        flex-shrink: 0;

    }

    .mainPageForm {
        max-width: 100%;
        margin: 10px;
        height: 356px;
        border-radius: 102px;
        background: #AAC7D8;
    }



    .footer {
        width: 1561px;
        height: 229px;
        flex-shrink: 0;
        background:  #C7D3DE;;
    }
