.update-user {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #5c4847;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 10px auto;
}

.update-user h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 24px;
}

.update-user form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.update-user label {
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
}

.update-user input[type="text"],
.update-user input[type="date"],
.update-user input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}

.update-user input[type="text"]:focus,
.update-user input[type="date"]:focus,
.update-user input[type="email"]:focus {
    border-color: #4CAF50;
    outline: none;
}

.update-user .edit-button-user {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-start;
}

.update-user .edit-button-user:hover {
    background-color: #45a049;
}

.update-user .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.update-user .form-group label {
    margin-bottom: 5px;
    color: #666;
    font-size: 14px;
}

.update-user .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.update-user .form-group input:focus {
    border-color: #4CAF50;
    outline: none;
}

.update-user .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    resize: vertical;
    height: 100px;
}

.update-user .form-group textarea:focus {
    border-color: #4CAF50;
    outline: none;
}
