.user-page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;






    padding: 20px;
}



.user-card {

    background: #e0e0e0;
    display: flex;
    margin: 10px;
    position: relative; /* Додаємо позиціонування */
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    height: auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.find-user
{
    width: 50%;
}

.user-card button {
    background-color: #3498db;
    color: #fff;
    width: auto;
    /*position: absolute; !* Робимо кнопку абсолютно позиціонованою відносно блоку *!*/
    bottom: 20px;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


.user-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Розміщуємо вміст від верхнього краю */
    /*width: 70%;font-family: "Felix Titling";*/
    font-size: 19px;
    margin-top: -10px;
    margin-bottom: 10px;
    color:#1E3F52;

}
/* Add these styles to your CSS file */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.user-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;

    aspect-ratio: 3 / 4;
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 0;  /* Зменшуємо відступ між фото і текстом до 0 */
}
