. user-messages-button-all-users{
   display: flex;


}
.user-request-button-all-users
{
    margin-left: 160px;
}
.user-card-username-all-users{
    display: flex;
    margin-left: 72px;

}
.find-user-all-users{
    width: 50%;
}
.user-container-all-users {
    display: flex;
    background-image: url('/public/psyhologistPage 1.svg');
    background-size: cover;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

/* Карточка психолога */
.user-card-all-users {
    background: #e0e0e0;
    display: flex;
    position: relative; /* Додаємо позиціонування */
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
    width: 50%;
    height: auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}
.left-div-all-users
{
    align-items: center; /* Центруємо вміст горизонтально */
    text-align: center;
}


.user-img-all-users {

    width: 200px;
    height: 200px;
    border-radius: 10px;

    aspect-ratio: 3 / 4;
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 0; /* Зменшуємо відступ між фото і текстом до 0 */
}

.user-details-all-users {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Розміщуємо вміст від верхнього краю */
    width: 70%;
    font-family: "Felix Titling";
    font-size: 23px;
    margin-bottom: 10px;
    color:#1E3F52;

}


.user-details-all-users h2 {
    margin: 5px;
    color: #1E3F52;
}

.user-card-all-users button {
    background-color: #3498db;
    color: #fff;
    width: auto;
    position: absolute; /* Робимо кнопку абсолютно позиціонованою відносно блоку */
    bottom: 20px;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.user-card-all-users button:hover {
    background-color: #2980b9;
}
